body{
	font-family: "Myriad Pro", sans-serif;
	text-transform: uppercase;
}

header, footer{
	background-color: #DFE0DE;
	color: #0B8A9F;
}

header h1{
	display:inline;
	margin-left: 50px;
}

main{
	background-color: #65BABF;
	color: white;
	text-align:center;
}

main img{
	margin-top:100px;
	margin-bottom: 80px;
}

a{	
	font-weight: bold;
	color: white;
	text-decoration: none;
	display: block;
	width: 70px;
	background-color: #008C8D;
	margin: 10px auto;
	border-radius: 7px;
	padding: 5px 30px;
	text-align: center;
}

